$base_color: linear-gradient(to right, #4b4655 0%, #594863 40%);

body, html {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background-image: $base_color;
}

@media (max-width: 600px) {
  .block {
    li {
      display: block;
    }
  }
  .navigation {
    width: 80%;
    li {
      text-align: center;
      display: block;
      border-bottom: 2px dotted white;
      padding: 10px;
    }
  }
  .container2 {
    h1 {
      text-align: center;
    }
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px;
  h1 {
    min-width: 400px;
  }

  img {
    padding-bottom: 20px;
    padding-right: 20px;
  }
}

#home {
  text-align: left;
  padding-top: 110px;
  padding-bottom: 110px;
  p {
    margin: 20px;
    min-width: 300px;
  }
}

p {
  max-width: 600px;
}

.navigation {
  float:right;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 25px;
}

table {
  font-size: 15px;
  border-collapse: collapse;
  tr {
    color: white;
  }
  h4 {
    min-width: 275px;
  }
}

.block {
  margin: 0 auto;
  tr, td {
    padding: 30px;
  }
  td {
    vertical-align: top;
  }
}

.studentinfo {
  font-size: 20px;
  padding: 10px;
  td {
    padding-left: 20px;
    padding-right: 20px;
  }
  .head {
    font-weight: bold;
  }
}

h1, h3, h5, p {
  color: white;
}

h5 {
  font-weight: lighter;
}

#heading1 {
  padding: 20px;
  margin-right: 40px;
  border-right: 3px solid white;
}

#footer {
  text-align: center;
  p {
    padding-top: 30px;
  }
}

ul {
  padding-left: 0px;
}

li {
  display: inline;
  list-style: none;
  font-size: 1em;
  font-weight: bold;
  color: white;
  padding-right: 20px;
}

#links {
  a {
    font-size: 1em;
    font-weight: bold;
    color: white;
    opacity: 1;
  }
  a:hover {
    color: rgba(255,255,255, 0.6);
    text-decoration: none;
    border-bottom: none;
  }
}

a {
  font-size: 1.17em;
  font-weight: bold;
  color: white;
  opacity: 0.6;
}

a:hover {
  color: white;
  text-decoration: none;
  border-bottom: 3px solid rgba(255,255,255, 0.6);
}

#current-page {
  pointer-events: none;
  opacity: 1;
  border-bottom: 3px solid white;
}

.complete {
  color: #5aff15;
}

#projects {
  text-align: left;

  img {
    padding: 20px;
  }

  a {
    max-width: 600px;
  }

  p {
    font-weight: lighter;
    font-size: 15px;
    opacity: 0.9;
  }
}

#footer p {
  opacity: 0.6;
}
